<nav class="navbar navbar-expand-lg navbar-dark bg-dark"">
<div class="container-fluid">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <%= link_to "Koci Ruch", root_path, class: "nav-bar" %> |
    </li>

  </ul>
  <%= link_to "Zaloguj", new_item_path, class: "btn btn-outline-success" %> |||||
  <%= link_to "Dodaj nowy rekord", new_item_path, class: "btn btn-success" %> ||||
  <%= link_to "Wesprzyj nas", href="https://buycoffee.to/", class:"nav-link", class:"btn-sm btn btn-outline-light" %>

</div>
</nav>